body{
    margin: auto;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(121, 115, 115);
}
h1{
    box-shadow: 10px 20px 50px black;
    margin-bottom: 40px;
}
button{
    font-weight: bolder;
    background-color: rgb(206, 61, 61);
    color: white;
    padding: 10px;
    border-radius: 12px;
}
button:hover{
    background-color: rgb(219, 44, 44);
    
}
.userColor{
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 8px;

    
}
.userColor:focus{
    outline: none;
}
.container{
    border: 1px solid black;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    background-color: white;
}